[tool.mypy]
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["constructs.*", "aws_cdk.*"]
ignore_errors = true

[tool.ruff]
line-length = 88
target-version = "py312"

[tool.ruff.lint]
select = ["E", "F", "I", "W"]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"